{{ define "index" }}
{{ template "header" }}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Stories</h1>
                <p class="lead text-muted">about my life and another...</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Say "Hello, @VitalG93"</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {{ range . }}
                {{ template "project_card" .}}
                {{ end }}
                
            </div>
        </div>
    </div>
</main>

{{ template "footer" }}
{{ end }}